
.display-keyboard-layout-text {
    font-size: 56px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}


.display-keyboard-layout-image {

}